<div class="content_header">History</div>
<div class="content_body">

  <table class="table" *ngIf="pageList.length > 0">
    <thead>
      <th>Дата</th>
      <th>Время</th>
      <th>Продолжительность</th>
      <th>Агент</th>
      <th>Тип</th>
      <!--<th>ДЕЙСТВИЕ</th>-->
    </thead>
    <tbody>
    <tr *ngFor="let item of pageList">
      <td>{{ getDate(item.timestamp) }}</td>
      <td>{{ getTime(item.timestamp) }}</td>
      <td>{{ getDuration(item.entityEvents) }}</td>
      <td>{{ getAgent(item.users) }}</td>
      <td>{{ getType(item) }}</td>
      <td class="noborder">
        <button class="btn btn_edit" (click)="edit(getIdFromUrl(item._links.self.href))">Детали</button>
        <button class="btn btn_delete" (click)="delete(item)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="totalPages > 1">
    <ul class="pagination_list">
      <span class="pagination_arrow pagination_prev" (click)="getPage(currentPage - 1)">Previous</span>
      <li *ngFor="let item of totalPagesArray; let ind = index" [class.active]="ind == currentPage">
        <span (click)="getPage(ind)" >{{ind + 1}}</span>
      </li>
      <span class="pagination_arrow pagination_next" (click)="getPage(currentPage + 1)">Next</span>
    </ul>
  </div>

  <app-confirm-window *ngIf="displayConfirmWindow" [title]="confirmWindowText" (event)="deleteItem($event)"></app-confirm-window>
</div>
