.noborder{
  min-width: 261px;

  .btn_edit{}

  .btn_delete{
    left: 135px;
  }
}


tr{
  &:hover {
    .noborder {
      display: table-cell;
    }
  }
}


.pagination{

  &_list{
    list-style-type: none;

    li{
      display: inline-block;
      width: 36px;
      height: 36px;
      //line-height: 36px;
      background-color: #4a4a4a;
      border: solid 1px #4a4a4a;
      vertical-align: bottom;

      span{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        line-height: 18px;
      }


      &.active{
        border: solid 1px #4a4a4a;
        background-color: transparent;

        span{
          color: #4a4a4a;
        }
      }
    }
  }

  &_arrow{
    display: inline-block;
    opacity: 0.3;
    border-radius: 3px;
    border: solid 1px #4a4a4a;
    width: 90px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 17px;
    color: #4a4a4a;

    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }


  &_prev{
    margin-right: -5px;
  }

  &_next{
    margin-left: -5px;
  }
}
