<section class="section" id="perrmissions">
  <div class="input_row" *ngFor="let item of permissionsList; let ind = index;">
    <input class="input_checkbox" type="checkbox" id="cp_{{ind}}"
           (change)="savePerrmissions($event, item)"
           [checked]="comparePerrmissions(item)"
    />
    <label class="input_checkbox_label" for="cp_{{ind}}">{{item.description}}</label>
  </div>
</section>
