<div class="content_header">Контактные-центры</div>

<div class="callcenters">
  <div class="controll_buttons">
    <button class=" btn btn_add" (click)="add()">ADD</button>
  </div>

  <table class="table">
    <thead>
    <th>Названи</th>
    <th>Номер телефона</th>
    <th>IP адрес</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td class="edit">
       <span class="title"> {{item.description}}</span>
        <div class="btn">
          <button class="btn btn_edit" (click)="edit(item)">Edit</button>
          <button class="btn btn_delete" (click)="remove(item)">Delete</button>
        </div>
      </td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.ipAddress}}</td>
      <td class="noborder">

      </td>

    </tr>
    </tbody>
  </table>
</div>
<app-confirm-window
 *ngIf="displayConfirmWindow" [title]="confirmWindowText" (event)="deleteItem($event)"
 >
</app-confirm-window>
