<div class="content_header">Редактировать сервер</div>

<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../../../">Отмена</button>
  <button class="btn btn_add" [class.disabled]="form.invalid" (click)="save()">Сохранить</button>
</div>

<div class="content_body">

  <div *ngIf="!isTurn()">
    <form novalidate [formGroup]="form">

      <div class="input_row form-control">
        <label class="input_text_label">Url</label>
        <input type="text"
          class="input_text"
          formControlName="url"
          placeholder="Адрес сервера"
        >
      </div>

    </form>
  </div>

  <div *ngIf="isTurn()">
    <form novalidate [formGroup]="form">

      <div class="input_row form-control">
        <label class="input_text_label">Url</label>
        <input type="text"
               class="input_text"
               formControlName="url"
               placeholder="Адрес сервера"
        >
      </div>

      <div class="input_row form-control">
          <label class="input_text_label">Логин</label>
          <input type="text"
          class="input_text"
          formControlName="username"
          placeholder="Введите логин"
          >
      </div>


      <div class="input_row form-control">
          <label class="input_text_label">Пароль пользователя</label>
          <input type="password"
          class="input_text"
          formControlName="password"
          validateEqualTo="repeatPasswod"
          placeholder="Введите пароль"
          >
      </div>

      <div class="input_row form-control">
          <label class="input_text_label">Подтверждение пароля</label>
          <input type="password"
          class="input_text"
          formControlName="repeatPassword"
          placeholder="Повторите пароль"
          >
      </div>

    </form>
  </div>

</div>
<app-error-popup></app-error-popup>
