%controll_btns_extend{
  position: fixed;
  top: 48px;
  right: 43px;

  div{
    display: inline-block;
  }
}

%btn_extemd{
  padding: 5px 20px;
  background-color: transparent;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $main-fron-color;
  border-radius: 3px;
  border: solid 1px $main-fron-color;
}