@font-face {
  font-family: "ClearSansRegular";
  src: url("assets/fonts/ClearSansRegular/ClearSansRegular.eot");
  src: url("assets/fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
  url("assets/fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
  font-family: "ClearSansBold";
  src: url("assets/fonts/ClearSansBold/ClearSansBold.eot");
  src: url("assets/fonts/ClearSansBold/ClearSansBold.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
  url("assets/fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansItalic"; */
@font-face {
  font-family: "ClearSansItalic";
  src: url("assets/fonts/ClearSansItalic/ClearSansItalic.eot");
  src: url("assets/fonts/ClearSansItalic/ClearSansItalic.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansItalic/ClearSansItalic.woff") format("woff"),
  url("assets/fonts/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansLight"; */
@font-face {
  font-family: "ClearSansLight";
  src: url("assets/fonts/ClearSansLight/ClearSansLight.eot");
  src: url("assets/fonts/ClearSansLight/ClearSansLight.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansLight/ClearSansLight.woff") format("woff"),
  url("assets/fonts/ClearSansLight/ClearSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansMedium"; */
@font-face {
  font-family: "ClearSansMedium";
  src: url("assets/fonts/ClearSansMedium/ClearSansMedium.eot");
  src: url("assets/fonts/ClearSansMedium/ClearSansMedium.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
  url("assets/fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansBoldItalic"; */
@font-face {
  font-family: "ClearSansBoldItalic";
  src: url("assets/fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot");
  src: url("assets/fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff") format("woff"),
  url("assets/fonts/ClearSansBoldItalic/ClearSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ClearSansMediumItalic"; */
@font-face {
  font-family: "ClearSansMediumItalic";
  src: url("assets/fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot");
  src: url("assets/fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff") format("woff"),
  url("assets/fonts/ClearSansMediumItalic/ClearSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}