@import '../../node_modules/susy/sass/_susy.scss';
@import '_susy.config.scss';
@import "fonts";
@import 'variables/_var.scss';
@import "_extends";
@import 'layouts/_layout.scss';
@import 'elements/_elements.scss';
@import "components/_components";

*{
  font-family: $clear-font;
}

*, :after, :before {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

html,body{
  margin: 0;
  padding: 0;
  line-height: 1.4285em;
  box-sizing: border-box;
}

.quick_nav {
  position: fixed;
  right: 55px;
  border-left: 1px solid $warm-grey;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;


  a{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $warm-grey;

    &.active{
      color: $main-fron-color;
    }
  }
}
