<div class="content_header">Редактирование компании</div>
<div class="controll_buttons">
  <button class="btn btn_add" (click)="save()">Save</button>
</div>
<div class="quick_nav">
  <div *ngFor="let item of quickMenu.links">
    <a href="{{quickMenu.getHref(item)}}">{{item.title}}</a>
  </div>
</div>

<div class="content_body" >

  <div class="input_row">
    <label class="input_text_label" id="companyName">Название</label>

    <input class="input_text required"
           #companyName
           [(ngModel)]="Company.companyName" placeholder="Enter company name"
           (input)="changeCompanyName(companyName)"
    />
    <span class="red_star"></span>
  </div>


  <section class="section" id="sessionSettings">
    <div class="section_header">Настройки сессии</div>

    <div class="input_row">
      <label class="input_text_label">Маскимальная длительность сессии (мин)</label>
      <input class="input_text required"
             type="number"
             placeholder="Enter value"
             [ngModel]="settingsModel.maxSessionLength.value"
             #maxSessionLength
             (input)="validateSetting('maxSessionLength', maxSessionLength)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Таймаут видео-потока с веб-камеры (мсек)</label>
      <input type="number" class="input_text required" placeholder="ВВедите значение"
             #webcamFeedTimeout
             [ngModel]="settingsModel.webcamFeedTimeout.value"
             (input)="validateSetting('webcamFeedTimeout', webcamFeedTimeout)"
      >
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Таймаут видео-потока с рабочего стола (мсек)</label>
      <input type="number" class="input_text required" placeholder="ВВедите значение"
             #desktopFeedTimeout
             [ngModel]="settingsModel.desktopFeedTimeout.value"
             (input)="validateSetting('desktopFeedTimeout', desktopFeedTimeout)"
      >
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Удалять сессии старше X дней <span class="tooltip">(0 - не удалять) </span></label>
      <input class="input_text required" type="number"  placeholder="Enter value"
             [ngModel]="settingsModel.deleteSessionTimeout.value"
             #deleteSessionTimeout
             (input)="validateSetting('deleteSessionTimeout', deleteSessionTimeout)"

      />
      <span class="red_star"></span>
    </div>


  </section>


  <section class="section" id="videoRecordSettings">
    <div class="section_header">Настройки записи видео</div>
    <div class="input_row">
      <input class="input_checkbox"  type="checkbox" id="ch_1" name="agent"
             [checked]='isChecked(settingsModel.recordAgetnsVideo.value)'
             #agent
             (click)="setVideoRecords('agent', agent.checked)"
      />
      <label class="input_checkbox_label" for="ch_1">Записывать видео оператора</label>
    </div>
    <div class="input_row">

      <input class="input_checkbox" type="checkbox" id="ch_2" name="client"
             [checked]= 'isChecked(settingsModel.recordClientsVideo.value)'
             #client
             (click)="setVideoRecords('client', client.checked)"

      />
      <label class="input_checkbox_label" for="ch_2">Записывать видео клиента</label>
    </div>
  </section>

  <app-permissions [data] = "Company.permissions" (changePermissionModel)="onChangePermissionModel($event)"></app-permissions>
</div>

<app-error-popup></app-error-popup>
