.btn{
  //border: none;
  outline: none;
  margin-right: 14px;

  &_add{
    border:none;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, $clear-blue, #001fb3);
    box-shadow: 0 1px 3px 0 rgba(0, 22, 69, 0.5);
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    padding: 6px 35px;

    &.disabled{
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #d8d8d8;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      border: solid 1px $main-fron-color;
    }
  }

  &_edit{
    @extend %btn_extemd;
  }


  &_delete{
    @extend %btn_extemd;
    color: #ff2a4b;
  }

  &_cancel{
    @extend %btn_extemd;
  }
}