label{
  span.tooltip{
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $main-fron-color;
  }
}
.input{



  &_row{
    margin-bottom: 14px;

    .red_star{
      background: url($red_star_icon) no-repeat;
      width: 8px;
      height: 7px;
      display: inline-block;
      position: relative;
      left: -17px;
      top: -10px;
    }
  }


  &_text{
    width: 322px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #979797;
    outline: none;
    padding: 7px 15px 7px 11px;
    font-size: 17px;
    color: $main-fron-color;

    &:disabled{
      background: #cbcbcc;
    }

    &.ng-invalid{
      background-color: #fad9db;
      border: solid 1px #979797;
      color: $main-fron-color;
    }

    &.error{
      background-color: #fad9db;
      border: solid 1px #979797;
      color: $main-fron-color;
    }

    &_label{
      display: block;
      color: $main-fron-color;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 3px;
    }
  }


  &_checkbox{
    cursor: pointer;
    display: none;

    &_label{
      font-size: 15px;
      font-weight: bold;
      color: $main-fron-color;
      cursor: pointer;
      position: relative;

      &:before{
        content: " ";
        display: inline-block;
        vertical-align: sub;
        position: relative;
        top: 2px;
        height: 20px;
        width: 20px;
        margin-right: 20px;
      }
    }

    &:not(checked) + &_label:before{
      background: transparent url($checkbox_uncheked_icon) no-repeat;
    }

    &:checked + &_label:before{
      background: transparent url($checkbox_cheked_icon) no-repeat;
    }
  }

  &_radio_checkbox{
    display: none;

    &_label{
      cursor: pointer;

      &:before{
        position: absolute;
        margin-top: -1px;
        height: 25px;
      }
    }

    &:checked + &_label{
      border-radius: 2px;
      background-color: $sandy-yellow;
      border: solid 1px #979797;

      &:before{
        left: initial;
        right: 0;
      }
    }

    &:not(checked)+ &_label{
      display: inline-block;
      position: relative;
      width: 60px;
      height: 26px;
      border-radius: 2px;
      background-color: $white-two;
      border: solid 1px #979797;

      &:before{
        content: " ";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 25px;
        border-radius: 2px;
        background-color: $main-fron-color;
        box-shadow: 0 1px 3px 0 rgba(73, 73, 73, 0.5);
        margin-top: -1px;
      }
    }

  }
}
