.table{
  border-collapse: collapse;

  thead{
    th{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #9b9b9b;
      text-transform: uppercase;
      text-align: left;
      padding-left: 19px;
      padding-bottom: 5px;
    }
  }

  tbody{
    tr{
      position: relative;
      
      &:nth-child(even){
        background: #e7e7e7;
      }
    }

    td{
      border: solid 1px $white-two;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $main-fron-color;
      padding: 12px 19px;
      height: 60px;

      &.noborder{
        display: none;
        border: none;
        height: 55px;
        position: relative;
        background: #efefef;
      }

      &.edit{

        .title{
          margin-right: 15px;
        }

        .btn{
          display: inline-block;
          display: none;
        }


        &:hover{
          .btn{
            display: inline-block;
          }
        }  
      }

      &:first-child{
        min-width: 354px;
      }

      &:nth-child(2){
        min-width: 180px;
      }

      &:nth-child(3){
        min-width: 160px;
      }

    }
  }
}
