<div class="dropdown">
  <div class="dropdown_field" (clickOutside)="toggle = true" (click)="toggle = !toggle">{{first.description}}</div>
	<ul class="dropdown_list" [hidden]="toggle">
    <li *ngFor="let item of list" (click)="onSelect(item)">{{item.description}}</li>
	</ul>
</div>
