.dropdown {
  position: relative;
  z-index: 1;
}
.dropdown_field {
  height: 38px;
  padding: .5em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  cursor: pointer;
  position: relative;
}
.dropdown_field:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAHlBMVEX///9mZmb7+/uMjIzy8vJ2dnbg4OBqamrFxcWpqalQqtibAAAALElEQVQImWNgIAg4GcGAE8hkYgaxmJlAwiysjIysLBAlbOzsbDDlHBy4jQIAE/AAZRxmSocAAAAASUVORK5CYII=") no-repeat;
  position: absolute;
  right: 10px;
  top: 14px;
}
.dropdown_list {
  border: 1px solid rgba(34, 36, 38, 0.15);
  list-style-type: none;
  position: absolute;
  width: 100%;
  border-top: none;
  top: 25px;
  background: #fff;
}
.dropdown_list li {
  padding: 5px;
  cursor: pointer;
  margin-left: -40px;
}
.dropdown_list li:hover {
  background: #eee;
}
