<div class="content_header">Операторы</div>
<div class="controll_buttons">
  <!--<div class="controll_buttons_hidden show">-->
  <!--<button class=" btn btn_edit" >Edit</button>-->
  <!--<button class=" btn btn_delete" (click)="remove(item)">Del</button>-->
  <!--</div>-->
  <button class=" btn btn_add" routerLink="./add">ADD</button>
</div>

<div class="content_body">
  <table class="table">
    <thead>
    <th>Agent Name</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td class="edit">
        <span class="title">{{item.fullName}}</span>
        <div class="btn">
          <button class=" btn btn_edit" (click)="edit(item)">Редактировать</button>
          <button class=" btn btn_delete" (click)="remove(item)">Удалить</button>
        </div>
      </td>
      <td class="noborder" >

      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-confirm-window *ngIf="displayConfirmWindow" [title]="confirmWindowText" (event)="deleteItem($event)"></app-confirm-window>
