<section class="section">
  <div class="section_header">Группы операторов</div>

  <div class="input_row" *ngFor="let item of allGroups; let ind = index;">
    <input class="input_checkbox" type="checkbox" id="cp_{{ind}}"
           [checked]="compareGroups(item)"
           (change)="saveGroups($event, item)"
    />
    <label class="input_checkbox_label" for="cp_{{ind}}">{{item.name}}</label>
  </div>

</section>
