<div class="ui pagination menu"
  role="navigation"
  *ngIf="!(autoHide && pages.length <= 1)">
  <a class="item direction link"
    [class.disabled]="isFirstPage()" *ngIf="directionLinks"
    (click)="previous()">
    <span>Previous</span>
  </a>
  <a class="item"
    *ngFor="let p of pages"
    [class.active]="getCurrent() === p.value"
    [class.disabled]="getCurrent() === p.value"
    (click)="setCurrent(p.value)">
    <span>{{ p.label }}</span>
  </a>
  <a class="item direction link"
    [class.disabled]="isLastPage()" *ngIf="directionLinks"
    (click)="next()">
    <span>Next</span>
  </a>
</div>
