<div class="content_header">Редактировать меню</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../../">Отмена</button>
</div>
<div class="content_body">
  <div class="topic_info">

    <div class="left">
      <h3 (click)="editRoot()">{{topicName}}</h3>
      <div class="menu_items_list">
        <ul>
          <li *ngFor="let item of menuItemsArray" >
            <span (click)="editMenuItem(item)" >{{item.description}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="right">

      <div class="edit_root" *ngIf="showEditRoot" (clickOutside)="showEditRoot = false;">

        <section class="section" novalidate [formGroup]="form">
          <div class="input_row">
            <label class="input_text_label">Menu title</label>
            <input class="input_text" type="text" formControlName="description" placeholder="Enter description">
          </div>
          <div class="buttons">
            <button class="btn_add" (click)="createMenuItem($event)">Add item</button>
          </div>
        </section>
      </div>


      <div class="edit_menu_item" *ngIf="displayEditMenuItemForm">

        <div class="input_row">
          <label class="input_text_input">Описание</label>
          <input type="text" class="input_text" [(ngModel)] = "editableMenuItem.description">
        </div>

        <label>Площадка</label>
        <app-dropdown [list]="callCenters" (select)="onSelect($event)"></app-dropdown>
        <br>

        <div class="input_row">
          <label class="input_text_input">DTMF</label>
          <input type="text" class="input_text" [(ngModel)] = "editableMenuItem.dtmf">
        </div>

        <div class="btns">
          <button class="ui green button" (click)="saveMenuItem(editableMenuItem)">Save</button>
          <button class="ui black button" (click)="cancelEditMenuItem()">Cancel</button>
          <button class="ui red button" (click)="deleteMenuItem(editableMenuItem)">Delete</button>
        </div>
      </div>

      <div class="add_menu_item" *ngIf="dispayAddMenuItemForm" [formGroup]="newMenuItemForm">
        <label >Описание</label>
        <div class="ui input" [class.error]="form.controls.description.invalid">
          <input type="text" formControlName="description">
        </div>

        <label>Площадка</label>
        <app-dropdown [list]="callCenters" (select)="selectNewMenuItemCallCenter($event)"></app-dropdown>
        <!--//<br>-->
        <div>
          <label>DTMF</label>
        </div>
        <div class="ui input">
          <input type="text" formControlName="dtmf">
        </div>
        <br>
        <div class="btns">
          <button class="ui green button" (click)="saveNewMenuItem()">Save</button>
          <button class="ui black button" (click)="cancelCreateNewMenuItem()">Cancel</button>
        </div>
      </div>

    </div>

  </div>
</div>

<app-error-popup></app-error-popup>
