<div class="content_header">Сессии</div>

<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../../">Отмена</button>
</div>

<div class="content_body">

  <table class="table">
    <thead>
      <th>Время</th>
      <th>Автор</th>
      <th>Тип</th>
      <th>Содержимое</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of sessionTable">
      <td>
        {{getDate(item.timestamp)}}
      </td>
      <td>
        {{getOriginal(item.user)}}
      </td>
      <td>
        {{item.entityType}}
      </td>
      <td>
        {{getContent(item)}}
      </td>
    </tr>
    </tbody>
  </table>

</div>
