<div class="content_header">Добавить меню</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Отмена</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Сохранить</button>
</div>

<div class="content_body" novalidate [formGroup]="form">
  <div class="input_row">
    <label class="input_text_label">Название меню</label>
    <input type="text" class="input_text"
           formControlName="description"
           placeholder="Введите название меню">
  </div>

</div>
<app-error-popup></app-error-popup>
