<div class="error_container" *ngIf="dispayErrorPopup">

  <div class="error_popup">
    <div class="error_popup_body">
      Ошибка сохранения данных
    </div>

    <div class="btn">
      <button class="btn" (click)="hideErrorPopup()">Ok</button>
    </div>
  </div>

</div>
