<div class="content_header">Редактирование супервизора</div>

<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../../">Отмена</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Сохранить</button>
</div>

<div class="content_body">
  <form novalidate [formGroup]="form">

    <div class="input_row">
      <label  class="input_text_label">Логин</label>
      <input type="text" class="input_text"
             placeholder="Введите логин"
             formControlName="username"
      >
    </div>

    <div class="input_row">
      <label  class="input_text_label">Пароль</label>
      <input type="password" class="input_text"
             placeholder="Введите пароль"
             formControlName="password"
             validateEqualTo="confirmPassword"
      >
    </div>

    <div class="input_row">
      <label class="input_text_label">Подтвердите пароль</label>
      <input type="password" class="input_text"
             placeholder="Подтвердите пароль"
             formControlName="confirmPassword"
      >
    </div>
  </form>
</div>

<app-error-popup></app-error-popup>
