input[type='radio']{
  display: none;


  &:checked + label{
    font-weight: bold;

    &:hover{
      text-decoration: none;
    }
  }
}

.radio_label{
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  &:hover{
    text-decoration: underline;
  }
}
