<div class="content_header">Добавить Сервер</div>

<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Отмена</button>
  <button class="btn btn_add" [class.disabled]="!formValid" (click)="save()">Сохранить</button>
</div>

<div class="content_body">
  <form novalidate [formGroup]="form">

    <div class="input_row form-control">

      <label class="input_text_label">Тип сервера</label>

      <input type="radio" id="turn" name="type" value="turn" formControlName="type">
      <label for="turn" class="radio_label">Turn-сервер</label>

      <input type="radio" id="stun" name="type" value="stun" formControlName="type">
      <label for="stun" class="radio_label">Stun-сервер</label>
    </div>

    <div class="input_row form-control">
      <label class="input_text_label">Url</label>
      <input type="text"
             class="input_text"
             formControlName="url"
             placeholder="Адрес сервера"
      >
    </div>

    <div *ngIf="form.value.type == 'turn'">

      <div class="input_row form-control">
        <label class="input_text_label">Логин</label>
        <input type="text"
               class="input_text"
               formControlName="username"
               placeholder="Введите логин"
        >
      </div>


      <div class="input_row form-control">
        <label class="input_text_label">Пароль пользователя</label>
        <input type="password"
               class="input_text"
               formControlName="password"
               validateEqualTo="repeatPasswod"
               placeholder="Введите пароль"
        >
      </div>

      <div class="input_row form-control">
        <label class="input_text_label">Подтверждение пароля</label>
        <input type="password"
               class="input_text"
               formControlName="repeatPasswod"
               placeholder="Повторите пароль"
        >
      </div>
    </div>
  </form>
</div>
<app-error-popup></app-error-popup>
