$green: #16d418;
$deep-green: #007601;
$first-branding: #ffcd00;
$black-50: rgba(0, 0, 0, 0.5);
$red: #ce0000;
$orange-red: #ff2424;
$warm-grey: #9b9b9b;
$white: #ffffff;
$dark-grey: #222328;
$blue: #0052ce;
$clear-blue: #247eff;
$dirty-purple-70: rgba(74, 73, 74, 0.7);
$white-two: #d7d7d7;
$sandy-yellow: #ffe67f;
$yellowish-green: #8fd710;
$dark-grass-green: #258000;
$chocolate-brown-50: rgba(69, 47, 0, 0.5);
$main-fron-color: #4a4a4a;