// Звездочка обязательного поля
$red_star_icon: 'assets/icons/red_star.svg';

//чекбоксы
$checkbox_uncheked_icon: 'assets/icons/checkbox-unchecked.svg';
$checkbox_cheked_icon: 'assets/icons/checkbox-checked.svg';

// логотип
$logo_icon: 'assets/icons/logo.svg';

// sidebar icons
$settings: 'assets/icons/sidebar/png/settings.png';
$cc_icon : 'assets/icons/sidebar/png/cc.png';
$topics_icon : 'assets/icons/sidebar/png/topics.png';
$groups_icon : 'assets/icons/sidebar/png/groups.png';
$agents_icon : 'assets/icons/sidebar/png/agents.png';
$supers_icon : 'assets/icons/sidebar/png/supers.png';
$history_icon : 'assets/icons/sidebar/png/history.png';
$logout_icon : 'assets/icons/sidebar/png/logout.png';
