<div class="confirm">

  <div class="confirm_body">
    <h2>Are you sure?</h2>

    <div class="message">
      You are about to delete the {{title}}. Conform the operation, please.
    </div>
  </div>

  <div class="btn">
    <button class="cancel" (click)="cancel()">Отменить</button>
    <button class="delete" (click)="delete()">Удалить</button>
  </div>
</div>
