<div class="content_header">Добавить оператора</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Отмена</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Сохранить</button>
</div>

<div class="content_body" novalidate [formGroup]="form">

  <div class="input_row">
    <label class="input_text_label">Имя</label>
    <input type="text" class="input_text" formControlName="fullName" placeholder="Введите имя оператора">
  </div>


  <div class="input_row">
    <label class="input_text_label">Номер линии</label>
    <input type="text" class="input_text" formControlName="lineNumber" placeholder="Введите номер линии оператора">
  </div>

  <div class="input_row">
    <label class="input_text_label">Имя агента</label>
    <input type="text" class="input_text" formControlName="username" placeholder="Введите имя оператора">
  </div>

  <div class="input_row">
    <label for="photo" class="input_text_label">Фотография</label>
    <input type="file" id="photo" (change)="savePhoto($event)">
  </div>

  <!--<div class="input_row" *ngIf="avatar !== null">-->
    <!--<img src="{{avatar}}" alt="">-->
    <!--<br>-->
    <!--<input type="checkbox" class="input_checkbox" id="delImg" (change)="delAvatar = !delAvatar">-->
    <!--<label for="delImg" class="input_checkbox_label">Удалить аватар</label>-->
  <!--</div>-->

  <div class="input_row">
    <label class="input_text_label">Пароль</label>
    <input type="password" class="input_text"
           formControlName="password"
           validateEqualTo="confirm"
           placeholder="Введите пароль пользователя">
  </div>

  <div class="input_row">
    <label class="input_text_label">Пароль</label>
    <input type="password" class="input_text" formControlName="confirm" placeholder="Подтвердите">
  </div>


  <section class="section">
    <div class="section_header">Группы операторов</div>

    <div class="input_row" *ngFor="let item of allGroups; let ind = index;">
      <input class="input_checkbox" type="checkbox" id="cp_{{ind}}"
             (change)="saveGroups($event, item)"
      />
      <label class="input_checkbox_label" for="cp_{{ind}}">{{item.name}}</label>
    </div>

  </section>

</div>
<app-error-popup></app-error-popup>
