<aside class="main_navigation" *ngIf="authService.loggedIn">
  <div class="logo">
    <div class="logo_img"><img src="assets/icons/logo.svg" alt=""/></div>
  </div>
  <nav class="nav">
    <ul class="nav_list">

      <li class="nav_list_item password">
        <a routerLink="/admin/changepasswors" routerLinkActive="activ">Сменить пароль</a>
      </li>

      <li class="nav_list_item ice">
        <a routerLink="/ice" routerLinkActive="activ">Настройки ICE</a>
      </li>

      <li class="nav_list_item settings" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/settings.png" alt="">
        <a routerLink="/settings" routerLinkActive="active">Настройки</a>
      </li>

      <li class="nav_list_item cc" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/cc.png" alt="">
        <a routerLink="/contactcenters" routerLinkActive="active">Контакт-центры</a>
      </li>

      <li class="nav_list_item topics" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/topics.png" alt="">
        <a routerLink="/topics" routerLinkActive="active">Темы консультаций</a>
      </li>

      <li class="nav_list_item groups" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/groups.png" alt="">
        <a routerLink="/agentgroups" routerLinkActive="active">Группы операторов</a>
      </li>

      <li class="nav_list_item agents" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/agents.png" alt="">
        <a routerLink="/agents" routerLinkActive="active">Операторы</a>
      </li>

      <li class="nav_list_item supers" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/supers.png" alt="">
        <a routerLink="/supervisors" routerLinkActive="active">Супервизоры</a>
      </li>

      <li class="nav_list_item history" routerLinkActive="active">
        <img src="assets/icons/sidebar/png/history.png" alt="">
        <a routerLink="/history" routerLinkActive="active">Сессии</a>
      </li>

      <li class="logout">
        <img src="assets/icons/sidebar/png/logout.png" alt="">
        <a (click)="logout()">Выйти</a>
      </li>
    </ul>
  </nav>
</aside>

<main [class.fullscreen]="!authService.loggedIn">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer *ngIf="!authService.loggedIn">
    <div class="">Aurus @ 2016-2017</div>
  </footer>
</main>
<span defaultOverlayTarget></span>


