<div class="content_header">Изменение пароля</div>
<div class="controll_buttons">
  <button class="btn btn_add" [class.disabled]="!saveActive" (click)="save()">Save</button>
</div>

<div class="content_body" novalidate [formGroup]="form">

  <div class="input_row">
    <label class="input_text_label">Текущий пароль:</label>
    <input type="password" class="input_text"
           placeholder="Введите текущий пароль"
           formControlName="oldPassword">
  </div>
  <div class="input_row">
    <label class="input_text_label">Новый пароль:</label>
    <input type="password" class="input_text"
           placeholder="Новый пароль"
           formControlName="newPassword"
           #password
    >
  </div>
  <div class="input_row">
    <label class="input_text_label">Повтор пароля:</label>
    <input type="password" class="input_text"
           formControlName="confirmPassword"
           placeholder="Подтвердите пароль"
           #confirm
           [class.error]="confirmPass(password.value,confirm.value)"
    >
  </div>

</div>
<app-error-popup></app-error-popup>
