<div class="content_header">Добавление площадки</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Cancel</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Add</button>
</div>

<div class="content_body" novalidate [formGroup]="form">

  <div class="input_row">
    <label class="input_text_label">Описание</label>
    <input class="input_text required"
           formControlName="description"
           placeholder="Enter title"/>
    <span class="red_star"></span>
  </div>

  <div class="input_row">
    <label class="input_text_label">Телефонный номер площадки</label>
    <input class="input_text required"
           formControlName="phoneNumber"
           placeholder="Enter phone number"/>
    <span class="red_star"></span>
  </div>



  <div class="input_row">
    <label class="input_text_label">IP адрес</label>
    <input class="input_text required"
           formControlName="ipAddress"
           placeholder="Enter ip-address"
    />
    <span class="red_star"></span>
  </div>

  <section class="section" formGroupName="settings">
    <div class="section_header">Additional settings</div>


    <div class="input_row" [formGroup]="form">
      <label class="input_text_label">Маска телефонного номера</label>
      <input class="input_text required"
             formControlName="phoneNumberMask"
             placeholder="Enter phoneMask"/>
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Префикс номера телефона</label>
      <input class="input_text required"
             formControlName="phoneNumberPrefix"
             placeholder="Enter phone perfix"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Регулярное выражение</label>
      <input class="input_text required"
             formControlName="phoneNumberPattern"
             placeholder="Enter phone number pattern"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Префикс номера для звонка с сайта</label>
      <input class="input_text required"
             formControlName="browserCallPrefix"
             placeholder="Enter call prefix"
      />
      <span class="red_star"></span>
    </div>

  </section>

  <section class="section" formGroupName="settings">
    <div class="section_header">Timeouts</div>

    <div class="input_row">
      <label class="input_text_label">Request session timeout (ms)</label>
      <input class="input_text required"
             formControlName="requestSessionTimeout"
             placeholder="Enter timeout"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Callcenter timeout (ms)</label>
      <input class="input_text required"
             formControlName="callCenterTimeout"
             placeholder="Enter timeout"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Client call timeout (ms)</label>
      <input class="input_text required"
             formControlName="clientCallTimeout"
             placeholder="Enter timeout"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Browser call timeout (ms)</label>
      <input class="input_text required"
             formControlName="browserCallTimeout"
             placeholder="Enter timeout"
      />
      <span class="red_star"></span>
    </div>

  </section>

</div>
<app-error-popup></app-error-popup>
