<div class="login">
  <div class="login_header"></div>

  <div class="login_form">
    <div class="login_form_header">Welcome to RichCall</div>

    <form [formGroup]="loginForm" [class.error]="errorMessage" novalidate>
      <input type="text" class="input_text" placeholder="Login" formControlName="username">
      <input type="password" class="input_text" placeholder="Password" formControlName="password">
      <button class="btn" (click)="login()" [class.disabled]="isDisabled()">Sign in</button>
    </form>
  </div>
</div>
