app-confirm-window{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(102, 100, 96, 0.5);

  .confirm{
    width: 280px;
    height: 209px;
    border-radius: 3px;
    background-color: $main-fron-color;
    box-shadow: 0 16px 34px 0 $main-fron-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -104px;

    &_body{
      padding: 24px;
      padding-bottom: 5px;
    }

    h2{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: $white;
    }

    .message{
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;
      margin-bottom: 32px;
    }

    .btn{
      text-align: right;
      button{
        border:none;
        outline: none;
        width: 90px;
        height: 36px;
        border-radius: 3px;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        line-height: 18px;
      }

      .cancel{
        border: solid 1px $white;
        background-color: transparent;
      }

      .delete{
        background-image: linear-gradient(to bottom, $orange-red, $red);
        box-shadow: 0 1px 3px 0 rgba(69, 0, 0, 0.5);
        margin-left: 9px;
      }
    }
  }
}
