app-error-popup{ }


.error_container{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(102, 100, 96, 0.5);
}

.error_popup{
  width: 280px;
  height: 209px;
  border-radius: 3px;
  background-color: $main-fron-color;
  box-shadow: 0 16px 34px 0 $main-fron-color;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -104px;


  &_body{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white;
    margin-bottom: 32px;
    text-align: center;
    padding: 80px 0 20px 0;
  }

  .btn{
    text-align: center;
    margin-right: 0;

    button{
      border:none;
      outline: none;
      width: 90px;
      height: 36px;
      border-radius: 3px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      line-height: 18px;
      border: solid 1px $white;
      background-color: transparent;
    }
  }
}
