.login{

  &_header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $first-branding;
    height: 125px;
    left: 0;
  }

  &_form{
    width: 310px;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 175px;

    &_header{
      font-size: 36px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1px;
      color: $main-fron-color;
      font-family:'ClearSansLight';
      margin-bottom: 40px;
    }

    form{
      text-align: center;

      input{
        width: 224px;
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 40px;
        }
      }

      button{
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        border-radius: 3px;
        background-image: linear-gradient(to bottom, #8fd70f, #248000), linear-gradient(to bottom, #15d417, $deep-green);
        box-shadow: 0 1px 3px 0 rgba(36, 69, 0, 0.5);
        border:none;
        display: block;
        width: 224px;
        height: 36px;
        margin: 0 auto;
      }
    }
  }
}