<div class="content_header">Добавить группу</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Отмена</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Сохранить</button>
</div>

<div class="content_body" novalidate [formGroup]="form">
  <div class="input_row">
    <div class="input_text_label">Название группы</div>
    <input type="text" class="input_text" formControlName="name" placeholder="Введите название группы">
  </div>

  <section class="section" id="perrmissions">
    <div class="section header">Разрешения</div>
    <div class="input_row" *ngFor="let item of allPermissions; let ind = index;">
      <input class="input_checkbox" type="checkbox" id="cp_{{ind}}"
             (change)="savePerrmissions($event, item)"
      />
      <label class="input_checkbox_label" for="cp_{{ind}}">{{item.description}}</label>
    </div>
  </section>

</div>
<app-error-popup></app-error-popup>
