<div class="content_header">Редактирование площадки</div>
<div class="quick_nav">
  <div *ngFor="let item of quickMenu.links">
    <a href="{{quickMenu.getHref(item)}}">{{item.title}}</a>
  </div>
</div>

<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../../">Cancel</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="!formChanged">Save</button>
  <!--<button class="btn btn_add" (click)="save()"-->
  <!--[class.disabled]="form.invalid">-->
  <!--Save-->
  <!--</button>-->
</div>

<div class="content_body" novalidate [formGroup]="form">

  <div class="input_row">
    <label class="input_text_label">Title</label>
    <input class="input_text required"
           formControlName="description"
           placeholder="Enter title"
           #description
           (keyup)="onChange('description', description.value)"
    />
    <span class="red_star"></span>
  </div>

  <div class="input_row">
    <label class="input_text_label">Phone number</label>
    <input class="input_text required"
           formControlName="phoneNumber"
           placeholder="Enter phone number"
           #phoneNumber
           (keyup)="onChange('phoneNumber', phoneNumber.value)"
    />
    <span class="red_star"></span>
  </div>



  <div class="input_row">
    <label class="input_text_label">IP address</label>
    <input class="input_text required"
           formControlName="ipAddress"
           placeholder="Enter ip-address"
           #ipAddress
           (keyup)="onChange('ipAddress', ipAddress.value)"
    />
    <span class="red_star"></span>
  </div>

  <section class="section" formGroupName="settings" >
    <div class="section_header">Additional settings</div>

    <div class="input_row" [formGroup]="form">
      <label class="input_text_label">Phone number mask</label>
      <input class="input_text required"
             formControlName="phoneNumberMask"
             placeholder="Enter phoneMask"
             #phoneNumberMask
             (keyup)="onChange('phoneNumberMask', phoneNumberMask.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Phone number prefix</label>
      <input class="input_text required"
             formControlName="phoneNumberPrefix"
             placeholder="Enter phone perfix"
             #phoneNumberPrefix
             placeholder="Enter phone perfix"
             (keyup)="onChange('phoneNumberPrefix', phoneNumberPrefix.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Phone number pattern</label>
      <input class="input_text required"
             formControlName="phoneNumberPattern"
             placeholder="Enter phone number pattern"
             #phoneNumberPattern
             (keyup)="onChange('phoneNumberPattern', phoneNumberPattern.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Browser call prefix</label>
      <input class="input_text required"
             formControlName="browserCallPrefix"
             placeholder="Enter call prefix"
             #browserCallPrefix
             (keyup)="onChange('browserCallPrefix', browserCallPrefix.value)"
      />
    </div>

  </section>

  <section class="section" formGroupName="settings">
    <div class="section_header">Timeouts</div>

    <div class="input_row">
      <label class="input_text_label">Request session timeout (ms)</label>
      <input class="input_text required"
             formControlName="requestSessionTimeout"
             placeholder="Enter timeout"
             #requestSessionTimeout
             (keyup)="onChange('requestSessionTimeout', requestSessionTimeout.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Callcenter timeout (ms)</label>
      <input class="input_text required"
             formControlName="callCenterTimeout"
             placeholder="Enter timeout"
             #callCenterTimeout
             (keyup)="onChange('callCenterTimeout', callCenterTimeout.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Client call timeout (ms)</label>
      <input class="input_text required"
             formControlName="clientCallTimeout"
             placeholder="Enter timeout"
             #clientCallTimeout
             (keyup)="onChange('clientCallTimeout', clientCallTimeout.value)"
      />
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Browser call timeout (ms)</label>
      <input class="input_text required"
             formControlName="browserCallTimeout"
             placeholder="Enter timeout"
             #browserCallTimeout
             (keyup)="onChange('browserCallTimeout', browserCallTimeout.value)"
      />
      <span class="red_star"></span>
    </div>

  </section>

</div>
<app-error-popup></app-error-popup>
