<div class="content_header">Редактирование оператора</div>

<div class="controll_buttons">
  <button class=" btn btn_cancel" routerLink="../../">Отмена</button>
  <button class="btn btn_add" (click)="save()">Сохранить</button>
</div>

<div class="content_body">

  <form novalidate [formGroup]="form">
    <div class="input_row" >
      <label  class="input_text_label">Имя</label>
      <input type="text" class="input_text"
             formControlName="fullName"
             placeholder="Enter agent name">
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Номер линии</label>
      <input type="text" class="input_text"
             formControlName="lineNumber"
             placeholder="Введите номер линии агента">
      <span class="red_star"></span>
    </div>


    <div class="input_row">
      <label  class="input_text_label">Имя пользователя</label>
      <input type="text" class="input_text"
             formControlName="username"
             placeholder="Введите имя пользователя">
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label for="photo" class="input_text_label">Фотография</label>
      <input type="file" id="photo" (change)="savePhoto($event)">
    </div>

    <div class="input_row" *ngIf="hasAvatar">
      <img src="{{original._links.self.href + '/avatar'}}" alt="">
      <br>
      <input type="checkbox" class="input_checkbox" id="delImg" (change)="delAvatar = !delAvatar">
      <label for="delImg" class="input_checkbox_label">Удалить аватар</label>
    </div>
  </form>

  <div class="input_row">
    <input type="checkbox" class="input_checkbox"
           (change)="changePassword = !changePassword"
           id="changepass"
    >
    <label class="input_checkbox_label" for="changepass">сменить пароль</label>
  </div>

  <div class="change_password" >

    <div class="input_row">
      <label  class="input_text_label">Пароль</label>
      <input type="password" class="input_text"
             placeholder="Введите пароль"
             [(ngModel)]="password"
             (input)="validatePasswordLength($event.target)"
             disabled = {{!changePassword}}
      >
    </div>

    <div class="input_row">
      <label  class="input_text_label">Подтверждение пароля</label>
      <input type="password" class="input_text"
             placeholder="Подтвердите пароль"
             [(ngModel)]="confirmPassword"
             (input)="validatePassword($event.target)"
             disabled = {{!changePassword}}
      >
    </div>

  </div>

  <app-agents-groups [data]="original" (changeGroup)="onChangeGroup($event)"></app-agents-groups>
</div>

<app-error-popup></app-error-popup>
