<!--<h1 class="ui dividing header">Добавить супервизора</h1>-->
<!--<form class="ui form menueditor"-->
      <!--novalidate-->
      <!--[formGroup]="form">-->
  <!--<div class="field required"-->
       <!--[class.error]="form.controls.username.invalid">-->
    <!--<label>-->
      <!--<span i18n>Name</span>-->
      <!--<span data-tooltip="Invalid value" *ngIf="form.controls.username.invalid">(?)</span>-->
    <!--</label>-->
    <!--<input type="text"-->
           <!--formControlName="username"-->
           <!--placeholder="Enter supervisor login">-->
  <!--</div>-->
  <!--<div class="field required"-->
       <!--[class.error]="form.controls.password.invalid">-->
    <!--<label>-->
      <!--<span i18n>Password</span>-->
      <!--<span data-tooltip="Invalid value" *ngIf="form.controls.password.invalid">(?)</span>-->
    <!--</label>-->
    <!--<input type="text"-->
           <!--formControlName="password"-->
           <!--placeholder="Enter password">-->
  <!--</div>-->
  <!--<div class="field required"-->
       <!--[class.error]="form.controls.confirmPassword.invalid">-->
    <!--<label>-->
      <!--<span i18n>Confirm password</span>-->
    <!--</label>-->
    <!--<input type="text"-->
           <!--formControlName="confirmPassword"-->
           <!--placeholder="Confirm password">-->
    <!--<div class="ui pointing below red basic label" *ngIf="form.controls.confirmPassword.invalid">-->
      <!--<p *ngIf="form.controls.confirmPassword.hasError('required')" i18n>Is required</p>-->
      <!--<p *ngIf="form.controls.confirmPassword.hasError('passwordsMismatched')" i18n>Passwords missmatch</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
<!--<div class="ui right aligned segment basic zero-padding">-->
  <!--<div class="item">-->
    <!--<button class="ui secondary button" routerLink="../" i18n>Cancel</button>-->
    <!--<button class="ui primary button"-->
            <!--(click)="save()"-->
            <!--[class.disabled]="form.invalid" i18n>Add</button>-->
  <!--</div>-->
  <!--<div class="item">-->
  <!--</div>-->
<!--</div>-->

<div class="content_header">Добавить супервизора</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink="../">Отмена</button>
  <button class="btn btn_add" (click)="save()" [class.disabled]="form.invalid">Сохранить</button>
</div>

<div class="content_body">
  <form novalidate [formGroup]="form">

      <div class="input_row">
        <label class="input_text_label">Name</label>
        <input type="text" class="input_text" formControlName="username" placeholder="Enter supervisor login">
        <span class="red_star"></span>
      </div>

    <div class="input_row">
      <label class="input_text_label">Password</label>
      <input type="text" class="input_text" formControlName="password" placeholder="Enter password">
      <span class="red_star"></span>
    </div>

    <div class="input_row">
      <label class="input_text_label">Name</label>
      <input type="text" class="input_text" formControlName="confirmPassword" placeholder="Confirm password">
      <span class="red_star"></span>
    </div>

  </form>
</div>

<app-error-popup></app-error-popup>
