.main_navigation{
  @include span(240px);
  background: $main-fron-color;
  position: fixed;
  height: 100%;
  overflow: hidden;

  .logo{
    padding: 40px;
  }

  .nav{

    &_list{
      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        position: relative;
        box-shadow: inset 0 1px 0 0 #676560;
        height: 50px;
        line-height: 50px;
        cursor: pointer;

        &.active{
          background: #676560;
        }
        img{
          width: 29px;
          position: relative;
          left: 15px;
          top: 9px;
        }

        //&:before{
        //  content: " ";
        //  display: inline-block;
        //  width: 20px;
        //  height: 17px;
        //  position: relative;
        //  margin-right: 10px;
        //  top: 3px;
        //  left: 23px;
        //}


        &.settings{
        }
        &.cc{
        }
        &.topics{
        }
        &.groups{

        }
        &.agents{

        }
        &.supers{

        }
        &.history{

        }

        a{
          outline: none;
          text-decoration: none;
          color: $white;
          font-size: 17px;
          margin-left: 23px;
        }

        &.logout{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }

      &_item{
        &:last-child{
          padding-bottom: 20px;
        }
      }
    }
  }
}
