footer{
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 10px;

    div{
        padding-bottom: 10px;
        text-align: center;
        opacity: 0.3;
        font-family: $clear-font;
        font-size: 12px;
        color: $main-fron-color;
    }
}