main{
  background: #efefef;
  float: right;
  width: calc(100% - 240px);
  min-height: 100vh;
  position: relative;

  &.fullscreen{
    background: #ffffff;
    float: none;
    width: 100vw;
    width: 100%;
  }
  .content{
    padding: 50px 40px;

    &_header{
      font-size: 36px;
      color: $main-fron-color;
      margin-bottom: 30px;
    }

    &_body{
      min-width: 450px;
    }
  }
}

.content{
  &_body{
    .section{
      margin-top: 51px;

      &_header{
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: $warm-grey;
        text-transform: uppercase;
        padding-bottom: 6px;
        margin-bottom: 20px;
        border-bottom: 1px solid $white-two;
      }
    }
  }
}