<div class="content_header">Настройки ICE</div>
<div class="controll_buttons">
  <button class="btn btn_add" (click)="add()">ADD</button>
</div>
<div class="content_body">
  <table class="table">
    <thead>
      <th>url</th>
      <th>тип</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="edit">
          <span class="title">{{item.url}}</span>
          <div class="btn">
            <button class="btn btn_edit" (click)="edit(item)">Редактировать</button>
            <button class="btn btn_delete" (click)="remove(item)">Удалить</button>
          </div>
        </td>
        <td>{{item.type}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-confirm-window *ngIf="displayConfirmWindow" [title]="confirmWindowText" (event)="deleteItem($event)"></app-confirm-window>
