/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
//body {
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
//}
//
//app-root {
//  display: flex;
//  flex: 1;
//  min-height: 100vh;
//  flex-direction: row;
//  flex-wrap: nowrap;
//  align-content: flex-start;
//  align-items: stretch;
//}
//
//content > *:nth-child(2) {
//  flex: 1 1 auto;
//  align-self: auto;
//  display: flex;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  justify-content: flex-start;
//  align-content: center;
//  align-items: stretch;
//  overflow-y: auto;
//  overflow-x: hidden;
//  padding: 1.5em;
//}
//
//ng-component > .content {
//  align-self: stretch;
//  flex-grow: 1;
//  padding: 1.5em;
//}
//
//ng-component > .grid {
//  min-height: 100%;
//  flex: 1 1 auto;
//  min-width: 450px;
//}
//
//.column.login-page {
//   max-width: 450px;
//}
//
//nav {
//  flex: 0 1 auto;
//  align-self: auto;
//  width: 15rem;
//  background-color: #FBBD08;
//}
//
//content {
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  align-items: stretch;
//  align-self: auto;
//}
//
//.content form.settings {
//  max-width: 500px;
//}
//
//.ui.segment.zero-padding {
//  padding: 0;
//}
@import "./sass/index";