<div class="content_header">Редактирование группы</div>
<div class="controll_buttons">
  <button class="btn btn_cancel" routerLink='../../'>Отмена</button>
  <button class="btn btn_add" [class.disabled]="this.form.invalid" (click)="save()">Сохранить</button>
</div>
<div class="content_body" novalidate [formGroup]="form">

  <div class="input_row">
    <div class="input_text_label">Название</div>
    <input type="text" class="input_text" formControlName="name" placeholder="Введите название группы">
  </div>

  <app-agent-groups-permissions [data]="original.permissions"
                                [url]="original.id"
                                (changePermissionList)="onChangePermissionList($event)"
  ></app-agent-groups-permissions>
</div>
<app-error-popup></app-error-popup>
