<div class="content_header">Темы консультаций</div>
<div class="controll_buttons">
  <button class=" btn btn_add" (click)="add()">ADD</button>
</div>

<div class="content_body">
  <table class="table" *ngIf="items.length > 0">
    <thead>
    <th>Название</th>
    <th>По умолчанию</th>
    <th>Каптча</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td  class="edit">
        <span class="title">{{item.description}}</span>
        <div class="btn">
          <button class="btn btn_edit" (click)="edit(item)">Edit</button>
          <button class="btn btn_delete" (click)="remove(item)">Delete</button>
        </div>
      </td>
      <td>
        <input id = "default_{{i}}"
               type="checkbox"
               class="input_radio_checkbox"
               [checked]="item.main"
               #maincheckbox
               (change)="changeMain(item, maincheckbox.checked)"
        />
        <label for="default_{{i}}" class="input_radio_checkbox_label"></label>
      </td>

      <td>
        <input id = "main_{{i}}"
               type="checkbox"
               class="input_radio_checkbox"
               [checked]="item.checkCaptcha"
               #captcha
               (change)="changeCaptcha(item, captcha.checked)"
        />
        <label for="main_{{i}}" class="input_radio_checkbox_label"></label>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-confirm-window *ngIf="displayConfirmWindow" [title]="confirmWindowText" (event)="deleteItem($event)"></app-confirm-window>
